<header class="header flex jc-between ai-center">
    <div class="flex ai-center gap-2">
        <div class="logo-wrapper">
            <a href="/" class="logo">Malumath <span class="black-text">|</span></a>
        </div>
    </div>
</header>
