<header class="header flex jc-between ai-center">
    <div class="flex ai-center gap-2">
        <div class="logo-wrapper">
            <span class="logo">Malumath <span class="black-text">|</span></span>
        </div>
        <nav class="main-nav">
            <a class="main-nav-link" href="#">Ekonomi</a>
            <a class="main-nav-link" href="#">Spor</a>
            <a class="main-nav-link" href="#">Dünya</a>
        </nav>
    </div>
    <!-- Hamburger Menü -->
    <div class="hamburger-menu" id="hamburger-menu">
        <span class="hamburger-icon">&#9776;</span>
    </div>
    <!-- Mobil Menü -->
    <div class="mobile-nav" id="mobile-nav">
        <a class="main-nav-link" href="#">Ekonomi</a>
        <a class="main-nav-link" href="#">Spor</a>
        <a class="main-nav-link" href="#">Dünya</a>
    </div>
</header>
