<header class="header flex jc-between ai-center">
    <div class="flex ai-center gap-2">
        <div class="logo-wrapper">
            <a href="/" class="logo">Malumath <span class="black-text">|</span></a>
        </div>
        <nav class="main-nav">
            <a class="main-nav-link" href="#">Ekonomi</a>
            <a class="main-nav-link" href="#">Spor</a>
            <a class="main-nav-link" href="#">Dünya</a>
        </nav>
    </div>
<!--    <div id="weather-clock" class="weather-clock">
        <div class="top-row">
            <span class="weather-icon">☀️</span>
            <span class="weather-temp">35°C</span>
        </div>
        <span class="weather-location">İzmir</span>
    </div> -->
</header>
